.register{
    width: 70%;
    margin: 100px auto;
    background-image: linear-gradient(rgb(27, 88, 68), rgb(0, 184, 117));
    border-radius: 20px;
    margin-top: 50px;
    height: auto;
    padding: 20px;
    
}
.all{
    background-image: linear-gradient(rgb(27, 88, 68), rgb(0, 184, 117));
}
.salary{
    height:60px;
    background-image: linear-gradient(rgb(27, 88, 68), rgb(0, 184, 117));
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    flex-direction: column;
    gap: 5px;
    color: white;
}
.task{
    
    
    border-radius:0.8rem;
    background-image: linear-gradient(rgb(27, 88, 68), rgb(0, 184, 117));
    margin-top:10px;
    margin-left:auto;
    color: white;
    padding:20px;
    
    margin-right:auto
}
.profile{
    
    background-image: linear-gradient(rgb(27, 88, 68), rgb(0, 184, 117));
    border-radius:0.8rem;
    margin-top:10px;
    margin-left:auto;
    color: white;
    padding:20px;
    
    margin-right:auto
}
.login{
    background-image: linear-gradient(rgb(27, 88, 68), rgb(0, 184, 117));
    color: white;
}
@media screen and (max-width:530px) {
    .register{
        width: 98%;

    }
}
.total{
    background-image: linear-gradient(rgb(27, 88, 68), rgb(0, 184, 117));
}
@media screen and (min-width:992px) {
    .salary{
        margin-top: 150px;

    }
}